In [1]:
from SiFoN import construct_FASTA as fst
from selene_sdk.sequences import Genome
import pandas as pd

In [2]:
pten = pd.read_csv("../../black_supp4/black_supp4.vcf", sep="\t")
pten = pten.head(75)
pten.head(2)

  #CHROM       POS         ID REF ALT
0  chr10  89623251  c.-976G>C   G   C
1  chr10  89623392  c.-835C>T   C   T

In [3]:
fld, ext = "test_output_plots/", "_PTEN.fasta"
alt_file, ref_file, shift_file, centered_file = fld+"alt"+ext, fld+"ref"+ext, fld+"shift"+ext, fld+"centered"+ext
chrm, cutoff, ref_genome_fasta = "chr10", 100, "../../../male.hg19.fasta"
genome = Genome(input_path = "../../../male.hg19.fasta")
fst.write_haps_of_pairs(pten, ref_file, alt_file, shift_file, centered_file,
         chrm, cutoff, genome)

In [6]:
brca1 = pd.read_csv("../../selene/BRCA1_02.csv")
brca1.head(5)

        SNP  Score      Sequence Class Alt Allele
0  33213845  36.29  CTCF CTCF-Cohesion          C
1  33213850  35.77  CTCF CTCF-Cohesion          G
2  33213842  32.52  CTCF CTCF-Cohesion          C
3  33213841  25.95  CTCF CTCF-Cohesion          C
4  33213846  21.35  CTCF CTCF-Cohesion          T

In [7]:
# fld, ext = "test_output_plots/", "_BRCA1.fasta"
# alt_file, ref_file, shift_file, centered_file = fld+"alt"+ext, fld+"ref"+ext, fld+"shift"+ext, fld+"centered"+ext
# chrm, offset, center, rng = "chr13",  2048, 33213845, 25
# genome = Genome(input_path = "../../../male.hg19.fasta")
# fst.writes_haps_around_SNP(ref_file, alt_file, shift_file, centered_file,
#          chrm, rng, center, genome)

In [ ]:
write_to_file(snp1, snp2, 
                 ref_file, alt_file, shift_file, centered_file, 
                 id1, id2)

In [ ]:
write_to_file_smooth(snp1, snp2, ref_file, alt_file, window=16)